* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: rgb(255, 200, 0);
  height: 100vh;
}
.container {
  display: flex;
  padding: 0 150px;
  gap: 20px;
  height: 100%;
  position: relative;
  > div {
    flex-grow: 1;
    background-color: cornsilk;
    color: rgb(205, 161, 3);
    text-align: center;
    height: 100%;
    font-size: 24px;
    width: 300px;
    .todo-input {
      position: absolute;
      bottom: 20px;
      input {
        border: 2px solid gold;
        outline: none;
        text-align: center;
        width: 350px;
        height: 40px;
        position: relative;
        left: 10px;
      }
    }
  }
  .task-container {
    padding: 20px 14px;
    .task {
      box-shadow: 0 0 14px #b5b3b3;
      color: rgba(45, 41, 41, 0.632);
      font-size: 18px;
      margin-top: 12px;
      cursor: move;
    }
  }
  .tsk {
    margin-top: 12px;
    box-shadow: 0 0 14px #b5b3b3;
    color: rgba(45, 41, 41, 0.632);
    cursor: move;
    font-size: 18px;
  }
  .drag-item {
    border: 1px dashed #9b2335;
  }
  .task-todo {
    background-color: #ffa;
  }
  .task-doing {
    background-color: #ffb7b7;
  }
  .task-done {
    background-color: #aaff;
  }
}
.container > div > .task-container {
  flex: 1;
}
